name: Deploy Frontend to Azure App Service (ontivitywo)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
        env:
          VITE_API_URL: https://ontivitywo-backend-cgdac4g3hjd0bmbs.southindia-01.azurewebsites.net

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: frontend_dist
          path: dist

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: frontend_dist
          path: dist

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ontivitywo
          slot-name: production
          publish-profile: ${{ secrets.AZURE_APP_SERVICE_PUBLISH_PROFILE_ONTIVITYWO }}
          package: ./dist
