name: Deploy Frontend to Static Web App (ontivitywo)

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run build
        env:
          VITE_API_URL: https://ontivitywo-backend-cgdac4g3hjd0bmbs.southindia-01.azurewebsites.net

      - name: Deploy to Azure Static Web App
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: 92497e60e5af72eb5c39ad8d522cd29967fb3800f599c7081c5557902556f90e03-a7a66ae7-c897-4d55-8b87-d2f18b88eaae00024320c7aa8500
          action: upload
          app_location: "/"
          output_location: "dist"
